body {
  font-size: 12px;
  margin: 0;
}

a {
  text-decoration-line: none;
}

p {
  margin: 0;
  padding: 5px;
}

table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #aaa;
  padding: 10px 2px;
  height: 44px;
  font-weight: normal;
  text-align: center;
}

table.content td {
  background: #ddd;
  height: 20px;
  padding: 8px;
}

table.list tr:nth-child(odd) td {
  background: #ddd;
}

table.list tr:nth-child(even) td {
  background: #ccc;
}

table.list tr:last-child td {
  border-bottom: 2px solid #666;
}

td {
  padding: 5px;
}

table.list {
  counter-reset: Serial;
  text-align: center;
}

table.list tr td:first-child:before {
  counter-increment: Serial;
  content: counter(Serial);
}

table.list tr td:last-child,
th:last-child {
  text-align: left;
}

div.scan-finished {
  /* display: none; */
}

div.text-div {
  background-color: #ddd;
  width: 340px;
  height: 20px;
  padding: 10px;
}

input[type=number] {
  width: 60px;
}

input[type=text] {
  width: 170px;
}

button.start {
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  color: green;
  padding: 7px;
  float: left;
}

button.cancel {
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  color: red;
  padding: 7px;
  float: left;
  display: none;
}
